.modal-content {
    background-color: #f5f5f5;
}

.responsaveis-wrapper {
    height: auto;
    margin-top: 12px;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tech-items-list {
    width: 80%;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.item-header {
    width: 100%;
}

.tech-item-wrapper {
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.item-titles {
    flex: 1;
}

.titles-upper-row {
    display: flex;
    justify-content: space-between;
}

.titles-upper-row > .tech-name-input {
    color: inherit;
    font-size: 1.6rem;
    font-weight: bold;
    border: #FFF solid 1px;
    margin-bottom: 0px;
    box-shadow: none;
    outline-style: none;
    outline-width: 0px;
}
.titles-upper-row > .tech-name-input[readonly] {
    background-color: #FFF;
}
.responsaveis-wrapper.editing .tech-name-input:not([readonly]) {
    border: #CCC solid 1px;
    margin-bottom: 8px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.responsaveis-wrapper.editing .tech-item-wrapper:not(.own-card) .tech-name-input[readonly] {
    opacity: 0.5;
}
.responsaveis-wrapper.editing .tech-name-input:not([readonly]):focus {
    outline-style: solid;
    outline-width: 2px;
}
.titles-upper-row > .tech-name-input::placeholder {
    font-style: italic;
}

.content-wrapper > textarea {
    font-size: 1.6rem;
    width: 100%;
    padding: 6px 6px 6px 12px;
    border: #FFF solid 1px;
    background-color: #fff;
    outline-style: none;
    outline-width: 0px;
    resize: none;
}
.responsaveis-wrapper.editing textarea:not([readonly]),
.tech-item-wrapper.own-card.pending-acceptance textarea {
    border: #DDD solid 1px;
}
.responsaveis-wrapper.editing textarea[readonly] {
    opacity: 0.5;
}
.responsaveis-wrapper.editing textarea:not([readonly]):focus,
.tech-item-wrapper.own-card.pending-acceptance textarea:focus {
    outline-style: solid;
    outline-width: 2px;
}
.tech-item-wrapper.no-activity .content-wrapper > textarea {
    display: none;
}
.responsaveis-wrapper.editing .tech-item-wrapper.no-activity textarea:not([readonly]),
.tech-item-wrapper.no-activity.own-card.pending-acceptance textarea {
    display: block;
}
.content-wrapper > textarea::placeholder {
    color: #000;
    opacity: 0.4;
    font-style: italic;
}

.remove-tech {
    align-self: center;
    margin: 0px 0px 8px 10px !important;
    width: 32px;
    height: 32px;
    padding: 0;
    display: none;
}
.responsaveis-wrapper.editing .tech-item-wrapper .remove-tech.editable {
    display: block;
}

.tech-item-wrapper  .request-sharing-btn-row {
    align-self: flex-end;
    display: none;
    margin-top: 10px;
}
.responsaveis-wrapper:not(.editing) .tech-item-wrapper.pending-acceptance.own-card .request-sharing-btn-row {
    display: block;
}

.request-sharing-btn-row > button {
    margin: 0px 0px 0px 6px !important;
}

.tech-item-wrapper .pending-acceptance-warning {
    cursor: none;
    pointer-events: none;
    margin-top: 3px;
    align-self: flex-end;
    display: none;
    background-color: #FFF;
}
.tech-item-wrapper.pending-acceptance:not(.own-card) .pending-acceptance-warning {
    display: block;
}

.buttons-row {
    display: flex;
}

.buttons-row > button {
    margin: 0px !important;
    display: none;
}

.responsaveis-wrapper.editable .edit-techs-btn {
    display: block;
}
.responsaveis-wrapper.editing.editable .edit-techs-btn {
    display: none;
}

.buttons-row > .add-tech-btn {
    margin: 0px 12px 0px 12px !important;
}

.responsaveis-wrapper.editable .cancel-edit-btn,
.responsaveis-wrapper.editable .add-tech-btn,
.responsaveis-wrapper.editable .save-tech-btn {
    display: none;
}
.responsaveis-wrapper.editing .add-tech-btn {
    display: block;
}
.responsaveis-wrapper.editing.editable .cancel-edit-btn,
.responsaveis-wrapper.editing.editable .add-tech-btn,
.responsaveis-wrapper.editing.editable .save-tech-btn {
    display: block;
}

.buttons-row > button > svg {
    margin-right: 4px;
}
