/* LOGO */

#sidebar-logo {
    height: 27px;
}

#sidebar-logo-text {
    top: 3px;
    font-size: 1.2em;
    position: relative;
}




/* PROFILE */

.profile_pic {
    display: none;
}

.profile_info {
    padding: 10px;
}
